main {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  justify-content: center;
  padding: 0;
  background-image: url("../assets/index-bg-globe-ground.jpg");
  background-position: right;
  background-blend-mode: luminosity;
  background-color: #ffffff87;
  background-size: cover;
 }

h1 {
  color: white;
}
footer {
  text-align: center;
  color: white;
}
