body {
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 2rem;
}
input {
  width: 85%;
  margin-bottom: .5rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  text-align: center;
}
div {
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  align-items: baseline;
}

h1 {
  text-transform: capitalize;
}

wbc-country-searcher li {
  padding: .15rem;
}

wbc-country {
  min-width: 320px;
  padding: 1rem;
  margin: auto 0;
}
