<ng-container *ngIf="country$ | async as country">
  <nav>
    <span [routerLink]="['/region', country.region.code]">{{country.region.name}}</span> >>
    <span>{{country.name}}</span>
  </nav>

  <ab-ui-article-card>
    <h1>{{country.name}}</h1>
    <img alt="{{country.name}} flag"
         style="transform: scale(.5)"
         src="https://www.countryflags.io/{{country.iso2Code}}/flat/64.png">
    <iframe class="art-image"
            frameborder="0"
            [src]="getGoogleMapsUrl(country)"
            class="art-image">
    </iframe>
    <h2 i18n> Country information:</h2>
    <ul>
      <li i18n>Region: <span>{{country.region.name}}</span></li>
      <li i18n>Capital: <span>{{country.capitalCity}}</span></li>
      <li i18n>Capital location: <span>{{country.latitude}}, {{country.longitude}}</span></li>
      <li i18n>Income Level: <span>{{country.incomeLevel}}</span> </li>
      <li i18n>Lending Type: <span>{{country.lendingType}}</span></li>
    </ul>
  </ab-ui-article-card>
</ng-container>
