:host {
  display: block;
}
:host > * {
  margin: 0 auto;
}
#breadcumb {
  color: white;
  margin-top: 1rem;
  font-size: 1.10rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.country-card {
  padding: 1rem;
  max-width: 550px;
  display: flex;
  background-color: whitesmoke;
  padding: .25rem 2rem;
  border-radius: 2rem;
  .country-card-data {
    //align-items: center;

    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 3rem;
    }

}
h1 {
  border-bottom: 1px dotted lightgrey;
}
