/* You can add global styles to this file, and also import other style files */
ab-ui-region-card h1 {
  font-size: 1.5rem;
}
body {
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;

}
h1 {
  text-transform: capitalize;
}
