/* :host {
  display: block;
  width: 100%;
}
 */
:host {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow-y: hidden;
  min-height: 525px;
  box-sizing: border-box;
  padding: 1rem;
}

section::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(29, 28, 27);
  border-radius: 8px;
}



section::-webkit-scrollbar-thumb {
  background-color: #8f8484;
  border-radius: 8px;
}
h1 {
  border-bottom: 1px dotted lightgrey;
  color: white;
}
