/* :host {
  display: block;
  width: 100%;
}
 */
:host {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow-y: hidden;
  min-height: 525px;
  box-sizing: border-box;
  padding: 1rem;
}

main {
  display:flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: left;
  align-content: start;
  background-color: rgba(245, 245, 245, 0.158);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  max-height: 550px;
  min-height: 550px;
  overflow-y: scroll;
  padding-left: 2.5rem;
  box-sizing: border-box;
}

main::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(29, 28, 27);
  border-radius: 8px;
}

main::-webkit-scrollbar-thumb {
  background-color: #8f8484;
  border-radius: 8px;
}
h1 {
  border-bottom: 1px dotted lightgrey;
  color: white;
}

.flag-card {
  width: 100px;
  padding: 0 1rem;
  margin: .25rem .25rem; ;
  border-radius: 8px;
  cursor: pointer;
}
